li{
    float: left;
    padding-right: 5px;
    
}
ul{
    padding: 9px;
    margin: 0;
    list-style-type: none;

    overflow: hidden;
    background-color: crimson;
}
li a{
    text-align: center;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    color: black;

}
.barra a:hover:not(.active){
    background-color: blue;
    color: cornsilk;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    

}

ul.nav{
    overflow: hidden;
}